&spi1 {
        status = "okay";
        /* cs-gpios = <&gpioa 2 GPIO_ACTIVE_LOW>; */

        /*
        lcd_st7920: lcd_st7920@0 {
                compatible = "vnd,spi-device";
                reg = <0>;
                spi-max-frequency = <540000>;
                label = "lcd_st7920";
        };
        */
        
        sdhc0: sdhc@0 {
                compatible = "zephyr,sdhc-spi-slot";
                reg = <0>;
                status = "okay";
                label = "SDHC_0";
                mmc {
                        disk-name = "SD";
                        compatible = "zephyr,sdmmc-disk";
                        status = "okay";
                };
                spi-max-frequency = <25000000>;
        };

};


/ {
        lcd_gpio: lcd_gpio {   
                compatible = "gpio-leds";
                lcd_reset: lcd_reset {
                        gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
                        label = "lcd_reset_pin";
                };
	};

        aliases {
                rtc= &rtc;
        };
};

	