/ {
    chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};
	zephyr,user {
		/* adjust channel number according to pinmux in board.dts */
		io-channels = <&ads1119 0>;
	};

	leds: leds {
		compatible = "gpio-leds";
		sampling: sampling {
			gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
			label = "sampling led";
		};
	};

    die_temp: dietemp {
		status = "okay";
	};

	muxgpio: muxgpio {
        compatible = "gpio-leds";
        mux_s0: mux_s0 {
            gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
        };
        mux_s1: mux_s1 {
            gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
        };
		mux_s2: mux_s2 {
            gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
        };
    };

	alarmgpio: alarmgpio {
        compatible = "gpio-leds";
        alarm_latch: alarm_latch {
            gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
        };
        alarm_clk: alarm_clk {
            gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;
        };
        alarm_enable: alarm_enable {
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;
        };
        alarm_in: alarm_in {
            gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;
        };
    };
};

&lpuart1 {
	status = "okay";
	current-speed = <115200>;
};

&usart1 {
    status = "okay";
	current-speed = <115200>;
};

&i2c1 {
	status = "okay";
	accel: accelerometer@18 {
		status = "okay";
		compatible = "st,lis2dh";
		reg = <0x18>;
	};
};

&i2c3 {
	pinctrl-0 = <&i2c3_scl_pa7 &i2c3_sda_pb4>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
    ads1119: ads1119@40 {
        #io-channel-cells = <1>;
        #address-cells = <1>;
        #size-cells = <0>;
		status = "okay";
		compatible = "ti,ads1119";
		reg = <0x40>;
        channel@0 {
            reg = <0x0>;
            zephyr,gain = "ADC_GAIN_1";
            zephyr,reference = "ADC_REF_EXTERNAL0";
            zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_TICKS, 0)>;
            zephyr,resolution = <15>;
        };
	};
};

&adc1 {
    status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;
    channel@17 {
		reg = <0x11>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};  
};